body {
    margin: 0 0;
    font-family: 'Teko', sans-serif;
    background: #7983a8;
  }
  
  .header {
    background-color: #27325c;
    padding: 0px 0;
    display: flex;
    justify-content: center;
  }
  
  .logo-tunfiskur {
    padding: 10px 15px;
    margin: 5px 0;
    bottom: 0px;
    right: 0px;
    position: fixed;
    content:url("tunfiskur-closed.png");
    width: 135px;
    transition: .1s;
  }
  
  .logo-tunfiskur:hover {
    content:url("tunfiskur-open.png");
    transform: scale(1.05);
  }
  
  .menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-inline-start: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #7b84a8;
    display: block;
    font-size: 2rem;
    padding: 0 15px;
    font-weight: light;
    transition: .5s;
  }
  
  .menu a:hover {
    color: #6985f5;
    transform: scale(1.2);
  }
  
  .menu li {
    padding: 0 1.5rem;
  }
  
  .verkefni {
    background: #465075;
    padding: 10px;
  }
  
  .verkefni p {
    text-align: center;
    font-weight: light;
    margin: 5px;
  }
  
  .fyrirsogn {
    font-size: 2rem;
    color: #13192e;
    margin: 0;
    padding: 0;
    text-align: center;
  }
  
  .verkefni-innra {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    text-align: center;
  }
  
  .verkefni-innra a {
    text-decoration: none;
  }
  
  .verkefni-single {
    background: #13192e;
    color: #7983a8;
    border-radius: 12px;
    margin: 1em;
    padding: 5px;
    transition: .15s;
  }
  
  .verkefni-single p {
    font-weight: medium;
    font-size: 1.2rem
  }
  
  .verkefni-single:hover {
    background: #7983a8;
    color: #13192e;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  .butt {
    background: #13192e;
    color: #7b84a8;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
    user-select: none;
    font-weight: 800;
    transition: .2s;
  }

.butt:hover {
    background: #7b84a8;
    color: #13192e;
}

  .batageymsla {
    background: #13192e;
    color: #7b84a8;
    max-width: 300px;
    height: 150px;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 25px auto;
    font-weight: 500;
  }