
body {
	background: rgb(2,0,36);
	background: linear-gradient(90deg, #068304 0%, #6aa905 50%, #08a905 100%);
}

.center {
	padding: 300px 0;
	text-align: center;
}

div.takki {
	width: 500px;
	padding: 25px 100px;
	background-color: #08cf06;
	border: 3px solid;
	box-sizing: border-box;
	font-size: 22px;
}

div.a {
    text-indent: 720px;
}
div.b {
    text-indent: 715px;
}

div.c {
	text-indent: 45px;
}

texti {
    color: black;
    font-family: 'Roboto',sans-serif;
}

button {
	display: inline-block;
	padding: 0.35em 1.2em;
	border: 0.1em solid #000000;
	margin: 0 0.3em 0.3em 0;
	border-radius: 0.12em;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Roboto',sans-serif;
	font-weight: 300;
	color: #000000;
	background-color: #08cf06;
	transition: all 0.0s;
	cursor: pointer;
}
	button:hover {
		color: #000000;
		background-color: #07b605;
	}
@media all and (max-width:30em){
button{
display:block;
margin:0.4em auto;
}


}
/* Customize the label (the container) */
#a.container {
	display: block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	/* Hide the browser's default radio button */
	#a.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

/* Create a custom radio button */
#a.checkmark {
	position: absolute;
	top: 0;
	left: 45px;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
	border: 2px solid;
}

/* On mouse-over, add a grey background color */
#a.container:hover input ~ #a.checkmark {
	background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
#a.container input:checked ~ #a.checkmark {
	background-color: #00ff21;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
#a.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the indicator (dot/circle) when checked */
#a.container input:checked ~ #a.checkmark:after {
	display: block;
}

/* Style the indicator (dot/circle) */
#a.container #a.checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/* Customize the label (the container) */
#b.container  {
	display: block;
	position: relative;
	padding-left: 40px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

	/* Hide the browser's default checkbox */
	#b.container input {
		position: absolute;
		opacity: 0;
		cursor: pointer;
		height: 0;
		width: 0;
	}

/* Create a custom checkbox */
#b.checkmark {
	position: absolute;
	top: 0;
	left: 45px;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border: 2px solid;
}

/* On mouse-over, add a grey background color */
#b.container:hover input ~ #b.checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
#b.container input:checked ~ #b.checkmark {
	background-color: #00ff21;
}

/* Create the checkmark/indicator (hidden when not checked) */
#b.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
#b.container input:checked ~ #b.checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
#b.container #b.checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

nav {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 35px;
  }
  
  nav ul {
	list-style: none;
	margin: 0;
	padding: .2em 2em;
	float: right;
  }
  
  nav ul li {
	display: inline-block;
	margin: 0;
	padding: .2em .7em;
  }
  
  nav a {
	width: 100%;
	height: 100%;
	color: white;
	text-decoration: none;
	font-family: Ubuntu;
	font-size: 1.15em;
	font-weight: lighter;
	letter-spacing: 1px;
	transition: .25s ease-in-out;
  }
  
  nav a:hover {
	color: rgb(220, 120, 0);
  }
  
  .nav-bg {
	content: '';
	position: absolute;
	display: block;
	top: -100%;
	width: 100%;
	height: 100%;
	z-index: -1;
	background: rgb(50, 50, 50);
	transition: .45s ease-in-out;
  }
  
  .bg-hidden {
	top: -100%;
	opacity: 0;
  }
  
  .bg-visible {
	top: 0;
	opacity: 1;
  }