$li: 17; /* [1] */
$icon-size: 300px; /* [2] */
$menu-size: 600px / 2; /* [3] */
$unit-size: 74px;  /* [4] */
$menu-position: (($menu-size * 2) - $icon-size) / -2;
   $offset: 200px; /* [5] */
	  $deg: 360deg / $li; /* [6] */

/* Styles: */
.icon {
position: relative;
background: white;
cursor: pointer;
margin: auto;
color: black;
border-radius: 50%;
height: $icon-size;
width: $icon-size;
line-height: $icon-size;
text-align: center;
 font-size: 2em;
 font-weight: bold;
 transition: 0.24s 0.2s;
}

.icon:hover {
background: rgba(white,0.75);
}

.heimsm {
position: absolute;
top: $menu-position;
left: $menu-position;
border: $menu-size solid transparent;
cursor: default;
border-radius: 50%;
transform: scale(0);
transition: transform 1.4s 0.07s;
z-index: -5;
}

.spread {
position: absolute;
top: -($offset);
left: -($offset);
transform-origin: $offset $offset;
transition: all 0.5s 0.1s;
font-size: 2.45em;
}

.icon:hover {
	 .heimsm {
	transition: transform 0.4s 0.08s,
	z-index   0s  0.5s;
  	 transform: scale(1);
  	 z-index: 5;
	 }
	 .spread, .unit {
	 	 transition: all 0.6s;
	 }
  
/* Where all the MAGIC happens: */
	 @for $m from 1 through $li {
	   .spread:nth-child(#{$m}) {
		    transform: rotate(45 + $deg * $m);
		    .unit {
			     transform: rotate(-$deg * $m + 720 - 45);
		    }
	   }
  }
} /* END .icon:hover */

.unit {
 	position: absolute;
 	background: white;
 	font-size: 60%;
  text-decoration: none;
 	width: $unit-size;
 	height: $unit-size;
 	line-height: $unit-size;
 	color: white;
 	border-radius: 50%;
 	transition: 0.6s;
}

.unit:hover {
	color: black;
}




/* Just CodePen layout stuff: */ body,a,ul,li{margin:0;outline:0;padding:0;list-style:none}html,body{height:100%;min-height:$menu-size*2}body{font-family:sans-serif;background:black;transform:translate3d(0,0,0)}.icon{top:50%;margin-top:$icon-size/-2}