.sub-container {
  @include flex(center);
}

.butt {
    background: $l5;
    color: $l1;
    font-size: 1.4rem;
    padding: 10px;
    border-radius: 10px;
    margin: 0px 10px;
    cursor: pointer;
    user-select: none;
    font-weight: 800;
    transition: .2s;

    &:hover {
        background: $l1;
        color: $l5;
    }
}

.batageymsla {
  background: $l5;
  color: $l1;
  max-width: 300px;
  height: 12rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 25px auto;
  font-weight: 500;
  font-size: 1.25rem;
}

.bataprent {
  max-width: 300px;
}