body {
    margin: 0 0;
    font-family: 'Teko', sans-serif;
    background: #7983a8;
  }
  
  .header {
    background-color: #27325c;
    padding: 0px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  
  .logo-tunfiskur {
    padding: 10px 15px;
    margin: 5px 0;
    bottom: 0px;
    right: 0px;
    position: absolute;
    content:url("../tunfiskur-closed.png");
    width: 135px;
    transition: .1s;
  }
  
  .logo-tunfiskur:hover {
    content:url("../tunfiskur-open.png");
}
  
.menu {
    list-style: none;
    padding: 0px 0px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-inline-start: 0;
  }
  
  .menu a {
    text-decoration: none;
    color: #7983a8;
    display: block;
    font-size: 2rem;
    padding: 0 15px;
    font-weight: light;
    transition: .5s;
  }
  
  .menu a:hover {
    color: #6985f5;
    transform: scale(1.2);
  }
  
  .menu li {
    padding: 0 1.5rem;
  }
  
  .container {
    background: #465075;
    padding: 10px;
  }
  
  .container p {
    text-align: center;
    font-weight: light;
    margin: 5px;
  }
  
  .verkefni-innra {
    max-width: 1000px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 20px;
    text-align: center;
  }
  
  .verkefni-innra a {
    text-decoration: none;
  }
  
  .verkefni-single {
    background: #13192e;
    color: #7983a8;
    border-radius: 12px;
    margin: 1em;
    padding: 5px;
    transition: 0.15s;
  }
  
  .verkefni-single p {
    font-weight: medium;
    font-size: 1.2rem;
  }
  
  .verkefni-single:hover {
    background: #7983a8;
    color: #13192e;
  }
  