//setja alla margnota liti hérna

//main palletta
$l1:#7983a8;
$l2: #27325c;
$l3: #6985f5;
$l4: #465075;
$l5: #13192e;

//imports
@import "./ferilskra";
@import "./subway";
@import "./salat";
@import "./hub";
@import "./heimsmarkmid";
@import "./mixins";
@import "./test";



//globals
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0 0;
    font-family: 'Teko', sans-serif;
    background: $l1;
}

.header {
    background-color: $l2;
    padding: 0px 0;
    @include flex(center)
}
  
.logo-tunfiskur {
    padding: 10px 15px;
    margin: 5px 0;
    bottom: 0px;
    right: 0px;
    position: absolute;
    content:url("../tunfiskur-closed.png");
    width: 135px;
    transition: .1s;
    
    &:hover {
        content:url("../tunfiskur-open.png");
        transform: scale(1.05);
    }

}
  
.menu {
    list-style: none;
    @include flex(center);
    padding-inline-start: 0;

    a {
        text-decoration: none;
        color: $l1;
        display: block;
        font-size: 2rem;
        padding: 0 15px;
        font-weight: light;
        transition: .5s;

        &:hover {
            color: $l3;
            transform: scale(1.2);
        }
    }

    li {
        padding: 0 1.5rem;
    }
}
    
.container {
    background: $l4;
    padding: 10px;

    p {
        text-align: center;
        font-weight: light;
        margin: 5px;
    }
}
    
.fyrirsogn {
    font-size: 2rem;
    color: $l5;
    margin: 0;
    padding: 0;
    text-align: center;
}