.ferilskra-titill {
  background: #465075;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 20px 100px;
}

.ferilskra-titill h1 {
  font-size: 8em;
  font-weight: 900;
  margin: auto 0;
  padding: 0 25px;
  color: #13192e;
}

.ferilskra-titill img {
  border: 10px solid #7983a8;
}

.ferilskra-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 8fr;
      grid-template-columns: 3fr 8fr;
}

.ferilskra-grid h3 {
  -ms-flex-line-pack: center;
      align-content: center;
  margin: 5px;
  font-size: 2rem;
}

.um-mig {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  background: #13192e;
  color: #7983a8;
}

.yfir {
  margin: auto;
}

.starfsreynsla {
  background: #7983a8;
  color: #13192e;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.um-mig-nidri {
  background: #7983a8;
  color: #13192e;
  font-size: 1.3rem;
  font-weight: 400;
  padding: 10px;
}

.um-mig-nidri p {
  margin: 5px 20px;
}

.starfsreynsla-nidri {
  background: #13192e;
  color: #7983a8;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.starf {
  background: #7983a8;
  color: #13192e;
  margin: 15px;
  border-radius: 10px;
  padding: 10px;
  font-size: 1.3rem;
}

.starf h4 {
  padding: 0px;
  margin: 0px;
}

.starf h5 {
  padding: 0px;
  margin: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -ms-flex-line-pack: center;
      align-content: center;
}

.sub-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.butt {
  background: #13192e;
  color: #7983a8;
  font-size: 1.4rem;
  padding: 10px;
  border-radius: 10px;
  margin: 0px 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 800;
  -webkit-transition: .2s;
  transition: .2s;
}

.butt:hover {
  background: #7983a8;
  color: #13192e;
}

.batageymsla {
  background: #13192e;
  color: #7983a8;
  max-width: 300px;
  height: 12rem;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 25px auto;
  font-weight: 500;
  font-size: 1.25rem;
}

.bataprent {
  max-width: 300px;
}

.tunfiskur {
  margin: 50px 25%;
  font-size: 1.75em;
  font-family: 'Times New Roman', Times, serif;
}

.tunfisksmynd {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  width: 35%;
  margin: 0px auto;
  padding: 10px;
}

.heimildir {
  list-style-type: none;
  font-size: larger;
  margin: auto;
  padding: 20px 50px;
}

.verkefni-innra {
  max-width: 1000px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 20px;
  text-align: center;
}

.verkefni-innra a {
  text-decoration: none;
}

.verkefni-single {
  background: #13192e;
  color: #7983a8;
  border-radius: 12px;
  margin: 1em;
  padding: 5px;
  -webkit-transition: .15s;
  transition: .15s;
}

.verkefni-single:hover {
  background: #7983a8;
  color: #13192e;
}

.verkefni-single p {
  font-weight: medium;
  font-size: 1.2rem;
}

/* [1] */
/* [2] */
/* [3] */
/* [4] */
/* [5] */
/* [6] */
/* Styles: */
.icon {
  position: relative;
  background: white;
  cursor: pointer;
  margin: auto;
  color: black;
  border-radius: 50%;
  height: 300px;
  width: 300px;
  line-height: 300px;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  -webkit-transition: 0.24s 0.2s;
  transition: 0.24s 0.2s;
}

.icon:hover {
  background: rgba(255, 255, 255, 0.75);
}

.heimsm {
  position: absolute;
  top: -150px;
  left: -150px;
  border: 300px solid transparent;
  cursor: default;
  border-radius: 50%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 1.4s 0.07s;
  transition: -webkit-transform 1.4s 0.07s;
  transition: transform 1.4s 0.07s;
  transition: transform 1.4s 0.07s, -webkit-transform 1.4s 0.07s;
  z-index: -5;
}

.spread {
  position: absolute;
  top: -200px;
  left: -200px;
  -webkit-transform-origin: 200px 200px;
          transform-origin: 200px 200px;
  -webkit-transition: all 0.5s 0.1s;
  transition: all 0.5s 0.1s;
  font-size: 2.45em;
}

.icon:hover {
  /* Where all the MAGIC happens: */
}

.icon:hover .heimsm {
  -webkit-transition: z-index   0s  0.5s, -webkit-transform 0.4s 0.08s;
  transition: z-index   0s  0.5s, -webkit-transform 0.4s 0.08s;
  transition: transform 0.4s 0.08s, z-index   0s  0.5s;
  transition: transform 0.4s 0.08s, z-index   0s  0.5s, -webkit-transform 0.4s 0.08s;
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 5;
}

.icon:hover .spread, .icon:hover .unit {
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}

.icon:hover .spread:nth-child(1) {
  -webkit-transform: rotate(66.17647deg);
          transform: rotate(66.17647deg);
}

.icon:hover .spread:nth-child(1) .unit {
  -webkit-transform: rotate(653.82353deg);
          transform: rotate(653.82353deg);
}

.icon:hover .spread:nth-child(2) {
  -webkit-transform: rotate(87.35294deg);
          transform: rotate(87.35294deg);
}

.icon:hover .spread:nth-child(2) .unit {
  -webkit-transform: rotate(632.64706deg);
          transform: rotate(632.64706deg);
}

.icon:hover .spread:nth-child(3) {
  -webkit-transform: rotate(108.52941deg);
          transform: rotate(108.52941deg);
}

.icon:hover .spread:nth-child(3) .unit {
  -webkit-transform: rotate(611.47059deg);
          transform: rotate(611.47059deg);
}

.icon:hover .spread:nth-child(4) {
  -webkit-transform: rotate(129.70588deg);
          transform: rotate(129.70588deg);
}

.icon:hover .spread:nth-child(4) .unit {
  -webkit-transform: rotate(590.29412deg);
          transform: rotate(590.29412deg);
}

.icon:hover .spread:nth-child(5) {
  -webkit-transform: rotate(150.88235deg);
          transform: rotate(150.88235deg);
}

.icon:hover .spread:nth-child(5) .unit {
  -webkit-transform: rotate(569.11765deg);
          transform: rotate(569.11765deg);
}

.icon:hover .spread:nth-child(6) {
  -webkit-transform: rotate(172.05882deg);
          transform: rotate(172.05882deg);
}

.icon:hover .spread:nth-child(6) .unit {
  -webkit-transform: rotate(547.94118deg);
          transform: rotate(547.94118deg);
}

.icon:hover .spread:nth-child(7) {
  -webkit-transform: rotate(193.23529deg);
          transform: rotate(193.23529deg);
}

.icon:hover .spread:nth-child(7) .unit {
  -webkit-transform: rotate(526.76471deg);
          transform: rotate(526.76471deg);
}

.icon:hover .spread:nth-child(8) {
  -webkit-transform: rotate(214.41176deg);
          transform: rotate(214.41176deg);
}

.icon:hover .spread:nth-child(8) .unit {
  -webkit-transform: rotate(505.58824deg);
          transform: rotate(505.58824deg);
}

.icon:hover .spread:nth-child(9) {
  -webkit-transform: rotate(235.58824deg);
          transform: rotate(235.58824deg);
}

.icon:hover .spread:nth-child(9) .unit {
  -webkit-transform: rotate(484.41176deg);
          transform: rotate(484.41176deg);
}

.icon:hover .spread:nth-child(10) {
  -webkit-transform: rotate(256.76471deg);
          transform: rotate(256.76471deg);
}

.icon:hover .spread:nth-child(10) .unit {
  -webkit-transform: rotate(463.23529deg);
          transform: rotate(463.23529deg);
}

.icon:hover .spread:nth-child(11) {
  -webkit-transform: rotate(277.94118deg);
          transform: rotate(277.94118deg);
}

.icon:hover .spread:nth-child(11) .unit {
  -webkit-transform: rotate(442.05882deg);
          transform: rotate(442.05882deg);
}

.icon:hover .spread:nth-child(12) {
  -webkit-transform: rotate(299.11765deg);
          transform: rotate(299.11765deg);
}

.icon:hover .spread:nth-child(12) .unit {
  -webkit-transform: rotate(420.88235deg);
          transform: rotate(420.88235deg);
}

.icon:hover .spread:nth-child(13) {
  -webkit-transform: rotate(320.29412deg);
          transform: rotate(320.29412deg);
}

.icon:hover .spread:nth-child(13) .unit {
  -webkit-transform: rotate(399.70588deg);
          transform: rotate(399.70588deg);
}

.icon:hover .spread:nth-child(14) {
  -webkit-transform: rotate(341.47059deg);
          transform: rotate(341.47059deg);
}

.icon:hover .spread:nth-child(14) .unit {
  -webkit-transform: rotate(378.52941deg);
          transform: rotate(378.52941deg);
}

.icon:hover .spread:nth-child(15) {
  -webkit-transform: rotate(362.64706deg);
          transform: rotate(362.64706deg);
}

.icon:hover .spread:nth-child(15) .unit {
  -webkit-transform: rotate(357.35294deg);
          transform: rotate(357.35294deg);
}

.icon:hover .spread:nth-child(16) {
  -webkit-transform: rotate(383.82353deg);
          transform: rotate(383.82353deg);
}

.icon:hover .spread:nth-child(16) .unit {
  -webkit-transform: rotate(336.17647deg);
          transform: rotate(336.17647deg);
}

.icon:hover .spread:nth-child(17) {
  -webkit-transform: rotate(405deg);
          transform: rotate(405deg);
}

.icon:hover .spread:nth-child(17) .unit {
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
}

/* END .icon:hover */
.unit {
  position: absolute;
  background: white;
  font-size: 60%;
  text-decoration: none;
  width: 74px;
  height: 74px;
  line-height: 74px;
  color: white;
  border-radius: 50%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.unit:hover {
  color: black;
}

/* Just CodePen layout stuff: */
body, a, ul, li {
  margin: auto;
  list-style: none;
}

html, body {
  height: 100%;
  min-height: 600px;
}

body {
  font-family: sans-serif;
  background: black;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
}

.icon {
  top: 50%;
  margin-top: -150px;
}

.rigning {
  background: black;
  width: 100%;
  height: 80%;
}

.stjarna {
  background: yellow;
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.stjarna:nth-child(1) {
  position: absolute;
  left: 76%;
  bottom: 78%;
}

.stjarna:nth-child(2) {
  position: absolute;
  left: 61%;
  bottom: 49%;
}

.stjarna:nth-child(3) {
  position: absolute;
  left: 5%;
  bottom: 50%;
}

.stjarna:nth-child(4) {
  position: absolute;
  left: 99%;
  bottom: 73%;
}

.stjarna:nth-child(5) {
  position: absolute;
  left: 53%;
  bottom: 80%;
}

.stjarna:nth-child(6) {
  position: absolute;
  left: 92%;
  bottom: 78%;
}

.stjarna:nth-child(7) {
  position: absolute;
  left: 81%;
  bottom: 33%;
}

.stjarna:nth-child(8) {
  position: absolute;
  left: 43%;
  bottom: 38%;
}

.stjarna:nth-child(9) {
  position: absolute;
  left: 97%;
  bottom: 43%;
}

.stjarna:nth-child(10) {
  position: absolute;
  left: 55%;
  bottom: 39%;
}

.stjarna:nth-child(11) {
  position: absolute;
  left: 92%;
  bottom: 65%;
}

.stjarna:nth-child(12) {
  position: absolute;
  left: 23%;
  bottom: 79%;
}

.stjarna:nth-child(13) {
  position: absolute;
  left: 8%;
  bottom: 79%;
}

.stjarna:nth-child(14) {
  position: absolute;
  left: 4%;
  bottom: 33%;
}

.stjarna:nth-child(15) {
  position: absolute;
  left: 25%;
  bottom: 37%;
}

.stjarna:nth-child(16) {
  position: absolute;
  left: 52%;
  bottom: 35%;
}

.stjarna:nth-child(17) {
  position: absolute;
  left: 20%;
  bottom: 57%;
}

.stjarna:nth-child(18) {
  position: absolute;
  left: 37%;
  bottom: 54%;
}

.stjarna:nth-child(19) {
  position: absolute;
  left: 13%;
  bottom: 49%;
}

.stjarna:nth-child(20) {
  position: absolute;
  left: 36%;
  bottom: 21%;
}

.stjarna:nth-child(21) {
  position: absolute;
  left: 35%;
  bottom: 64%;
}

.stjarna:nth-child(22) {
  position: absolute;
  left: 63%;
  bottom: 31%;
}

.stjarna:nth-child(23) {
  position: absolute;
  left: 9%;
  bottom: 59%;
}

.stjarna:nth-child(24) {
  position: absolute;
  left: 52%;
  bottom: 79%;
}

.stjarna:nth-child(25) {
  position: absolute;
  left: 80%;
  bottom: 74%;
}

.stjarna:nth-child(26) {
  position: absolute;
  left: 60%;
  bottom: 38%;
}

.stjarna:nth-child(27) {
  position: absolute;
  left: 7%;
  bottom: 38%;
}

.stjarna:nth-child(28) {
  position: absolute;
  left: 51%;
  bottom: 36%;
}

.stjarna:nth-child(29) {
  position: absolute;
  left: 15%;
  bottom: 69%;
}

.stjarna:nth-child(30) {
  position: absolute;
  left: 58%;
  bottom: 64%;
}

.stjarna:nth-child(31) {
  position: absolute;
  left: 27%;
  bottom: 73%;
}

.stjarna:nth-child(32) {
  position: absolute;
  left: 67%;
  bottom: 32%;
}

.stjarna:nth-child(33) {
  position: absolute;
  left: 18%;
  bottom: 40%;
}

body {
  margin: 0 0;
  font-family: 'Teko', sans-serif;
  background: #7983a8;
}

.header {
  background-color: #27325c;
  padding: 0px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.logo-tunfiskur {
  padding: 10px 15px;
  margin: 5px 0;
  bottom: 0px;
  right: 0px;
  position: fixed;
  content: url("../tunfiskur-closed.png");
  width: 135px;
  -webkit-transition: .1s;
  transition: .1s;
}

.logo-tunfiskur:hover {
  content: url("../tunfiskur-open.png");
}

.menu {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.menu a {
  text-decoration: none;
  color: #7983a8;
  display: block;
  font-size: 2rem;
  padding: 0 15px;
  font-weight: light;
  -webkit-transition: .5s;
  transition: .5s;
}

.menu a:hover {
  color: #6985f5;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.menu li {
  padding: 0 1.5rem;
}

.container {
  background: #465075;
  padding: 10px;
}

.container p {
  text-align: center;
  font-weight: light;
  margin: 5px;
}

.fyrirsogn {
  font-size: 2rem;
  color: #13192e;
  margin: 0;
  padding: 0;
  text-align: center;
}
/*# sourceMappingURL=main.css.map */